{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}网站框架{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      .container-fluid{
        width: 70%;margin-right:auto;margin-left:auto;
      }
      .navbar1 {
          position: relative;
          min-height: 181px;
          margin-bottom: 0;
          border: 1px solid transparent;
      }
      .searchParent {
        position: relative;
      }
      .searchDiv {
        position: absolute;
        left: 50%;
        margin-left: -163px;
        top: 0;
      }
      .footer-top{
          margin-top: 30px;
      }
    </style>
    {% block css %}{% endblock %}
  </head>
  <body>

    <div>
        <nav class="navbar1 navbar-default navbar-fixed-top" role="navigation" style="background-image: url('../../static/images/6.png');">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#my-nav" aria-expanded="false">
                <span class="sr-only">切换导航条</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- 网站名称，也可以设置为图标 -->
              <a class="navbar-brand" href="#"><img alt="Bikapi" src="../../static/images/logo_bikapi.png" height="59" width="88"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse container searchParent">
              <ul class="nav navbar-nav searchDiv">
                <li>
                    <button type="button" class="btn btn-default navbar-btn">排行榜</button>
                </li>
                <form class="navbar-form navbar-left" role="search" style="text-align:center">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入搜索内容">
                  </div>
                  <button type="submit" class="btn btn-default">搜索</button>
                </form>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% if request.session.is_login %}
                      <li><a href="/userinfo/{{ request.session.user_id }}" style="color: yellow;">当前用户：{{ request.session.user_name }}</a></li>
                      <li><a href="/logout/" style="color: yellow;">退出</a></li>
                  {% else %}
                      <li><a href="/login/" style="color: yellow;">登录</a></li>
                      <li><a href="/register/" style="color: yellow;">注册</a></li>
                  {% endif %}

                  <li><button type="button" class="btn btn-default navbar-btn"><a href="/release/">发布</a></button></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse container">
                  <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="/index/">首页</a></li>
                    <li role="presentation"><a href="/topic_comicon/">漫展</a></li>
                    <li role="presentation"><a href="/forum/">社区</a></li>
                    <li role="presentation"><a href="/topic_baike/">皮站百科</a></li>
                  </ul>
            </div>
        </nav>
    </div>

    <div class="container-fluid">
            {% block content %}{% endblock %}
    </div>

    <div class="container-fluid footer-top">
        <div class="row">
            <!--可以使用  text-center 文本居中-->
            <div class="col-md-3 col-md-offset-4">
                <ul class="list-inline ulfount" >
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">友情链接</a></li>
                    <li><a href="#">小黑屋</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>版权所有，保留一切权利！©2019 比卡皮 </p>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502004137">
                <img src="../../static/images/备案图标.png" height="20" width="20"/>粤公网安备44030502004137号
            </a>
            <a href="http://www.beian.miit.gov.cn" style="margin-left: 15px">粤ICP备18071263号</a>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>


    <!--导航条不会自动激活active类样式处理方案：-->
    <script type="text/javascript">
        $(function () {
          $(".nav-pills").find("li").each(function () {
            var a = $(this).find("a:first")[0];
            if ($(a).attr("href") === location.pathname) {
              $(this).addClass("active");
            } else {
              $(this).removeClass("active");
            }
          });
        })
    </script>
  </body>
</html>